/* ----------------------------------------------------
   created with http://www.codeandweb.com/texturepacker 
   ----------------------------------------------------
   $TexturePacker:SmartUpdate:532885575c855a0c371133ba2eb3d341:ef0c9dff360652008394c2f47fec7479:db4702caf2029946dca1c4822af0970d$
   ----------------------------------------------------

   usage: <span class="{-spritename-} sprite"></span>

   replace {-spritename-} with the sprite you like to use

*/

.sprite {display:inline-block; overflow:hidden; background-repeat: no-repeat;background-image:url(textures.png);}

.B000M800 {width:128px; height:128px; background-position: -896px -3840px}
.B000M801 {width:128px; height:128px; background-position: -896px -3712px}
.B000N800 {width:128px; height:128px; background-position: -768px -3840px}
.B000N801 {width:128px; height:128px; background-position: -768px -3712px}
.B000N802 {width:128px; height:128px; background-position: -896px -3584px}
.B000N803 {width:128px; height:128px; background-position: -768px -3584px}
.B000N804 {width:128px; height:128px; background-position: -640px -3840px}
.B000N805 {width:128px; height:128px; background-position: -640px -3712px}
.B000N806 {width:128px; height:128px; background-position: -640px -3584px}
.B100M800 {width:128px; height:128px; background-position: -896px -3456px}
.B100M801 {width:128px; height:128px; background-position: -768px -3456px}
.B100M802 {width:128px; height:128px; background-position: -640px -3456px}
.B100M803 {width:128px; height:128px; background-position: -512px -3840px}
.B100N801 {width:128px; height:128px; background-position: -512px -3712px}
.B100N802 {width:128px; height:128px; background-position: -512px -3584px}
.B100N803 {width:128px; height:128px; background-position: -512px -3456px}
.B100N804 {width:128px; height:128px; background-position: -896px -3328px}
.B100N805 {width:128px; height:128px; background-position: -768px -3328px}
.B100N806 {width:128px; height:128px; background-position: -640px -3328px}
.B100N807 {width:128px; height:128px; background-position: -512px -3328px}
.B100N808 {width:128px; height:128px; background-position: -384px -3840px}
.B100N809 {width:128px; height:128px; background-position: -384px -3712px}
.B100S800 {width:128px; height:128px; background-position: -384px -3584px}
.B100S801 {width:128px; height:128px; background-position: -384px -3456px}
.B100S810 {width:128px; height:128px; background-position: -384px -3328px}
.B100S811 {width:128px; height:128px; background-position: -896px -3200px}
.B101S800 {width:128px; height:128px; background-position: -768px -3200px}
.B101S801 {width:128px; height:128px; background-position: -640px -3200px}
.B101S810 {width:128px; height:128px; background-position: -512px -3200px}
.B101S811 {width:128px; height:128px; background-position: -384px -3200px}
.B102S800 {width:128px; height:128px; background-position: -256px -3840px}
.B102S801 {width:128px; height:128px; background-position: -256px -3712px}
.B102S802 {width:128px; height:128px; background-position: -256px -3584px}
.B102S803 {width:128px; height:128px; background-position: -256px -3456px}
.B102S810 {width:128px; height:128px; background-position: -256px -3328px}
.B102S811 {width:128px; height:128px; background-position: -256px -3200px}
.B102S812 {width:128px; height:128px; background-position: -896px -3072px}
.B102S813 {width:128px; height:128px; background-position: -768px -3072px}
.B1B0A800 {width:128px; height:128px; background-position: -640px -3072px}
.B1B0B800 {width:128px; height:128px; background-position: -512px -3072px}
.B1B0E800 {width:128px; height:128px; background-position: -384px -3072px}
.B1B0I800 {width:128px; height:128px; background-position: -256px -3072px}
.B1S1A800 {width:128px; height:128px; background-position: -128px -3840px}
.B1S1B800 {width:128px; height:128px; background-position: -128px -3712px}
.B1S1E800 {width:128px; height:128px; background-position: -128px -3584px}
.B1S1I800 {width:128px; height:128px; background-position: -128px -3456px}
.D000M800 {width:128px; height:128px; background-position: -128px -3328px}
.D000M801 {width:128px; height:128px; background-position: -128px -3200px}
.D000M802 {width:128px; height:128px; background-position: -128px -3072px}
.D000N800 {width:128px; height:128px; background-position: -896px -2944px}
.D000N801 {width:128px; height:128px; background-position: -768px -2944px}
.D000N802 {width:128px; height:128px; background-position: -640px -2944px}
.D000N803 {width:128px; height:128px; background-position: -512px -2944px}
.D0B0A800 {width:128px; height:128px; background-position: -384px -2944px}
.D0B0B800 {width:128px; height:128px; background-position: -256px -2944px}
.D0B0E800 {width:128px; height:128px; background-position: -128px -2944px}
.D0B0I800 {width:128px; height:128px; background-position: -0px -3840px}
.D0G0A800 {width:128px; height:128px; background-position: -0px -3712px}
.D0G0B800 {width:128px; height:128px; background-position: -0px -3584px}
.D0G0E800 {width:128px; height:128px; background-position: -0px -3456px}
.D0G0I800 {width:128px; height:128px; background-position: -0px -3328px}
.D100M800 {width:128px; height:128px; background-position: -0px -3200px}
.D1B0A800 {width:128px; height:128px; background-position: -0px -3072px}
.D1B0B800 {width:128px; height:128px; background-position: -0px -2944px}
.D1B0E800 {width:128px; height:128px; background-position: -896px -2816px}
.D1B0I800 {width:128px; height:128px; background-position: -768px -2816px}
.D1S2A800 {width:128px; height:128px; background-position: -640px -2816px}
.D1S2B800 {width:128px; height:128px; background-position: -512px -2816px}
.D1S2E800 {width:128px; height:128px; background-position: -384px -2816px}
.D1S2I800 {width:128px; height:128px; background-position: -256px -2816px}
.D200M800 {width:128px; height:128px; background-position: -128px -2816px}
.D200M801 {width:128px; height:128px; background-position: -0px -2816px}
.D200M802 {width:128px; height:128px; background-position: -896px -2688px}
.D200M803 {width:128px; height:128px; background-position: -768px -2688px}
.D200M804 {width:128px; height:128px; background-position: -640px -2688px}
.D200M805 {width:128px; height:128px; background-position: -512px -2688px}
.D2G0A800 {width:128px; height:128px; background-position: -384px -2688px}
.D2G0B800 {width:128px; height:128px; background-position: -256px -2688px}
.D2G0E800 {width:128px; height:128px; background-position: -128px -2688px}
.D2G0I800 {width:128px; height:128px; background-position: -0px -2688px}
.D300M800 {width:128px; height:128px; background-position: -896px -2560px}
.D300M801 {width:128px; height:128px; background-position: -768px -2560px}
.D300M802 {width:128px; height:128px; background-position: -640px -2560px}
.D300M803 {width:128px; height:128px; background-position: -512px -2560px}
.D300M804 {width:128px; height:128px; background-position: -384px -2560px}
.D3D2A800 {width:128px; height:128px; background-position: -256px -2560px}
.D3D2A801 {width:128px; height:128px; background-position: -128px -2560px}
.D3D2B800 {width:128px; height:128px; background-position: -0px -2560px}
.D3D2B801 {width:128px; height:128px; background-position: -896px -2432px}
.D3D2E800 {width:128px; height:128px; background-position: -768px -2432px}
.D3D2E801 {width:128px; height:128px; background-position: -640px -2432px}
.D3D2I800 {width:128px; height:128px; background-position: -512px -2432px}
.D3D2I801 {width:128px; height:128px; background-position: -384px -2432px}
.G000M800 {width:128px; height:128px; background-position: -256px -2432px}
.G000M801 {width:128px; height:128px; background-position: -128px -2432px}
.G000M802 {width:128px; height:128px; background-position: -0px -2432px}
.G000M803 {width:128px; height:128px; background-position: -896px -2304px}
.G0G0A800 {width:128px; height:128px; background-position: -768px -2304px}
.G0G0A801 {width:128px; height:128px; background-position: -640px -2304px}
.G0G0B800 {width:128px; height:128px; background-position: -512px -2304px}
.G0G0B801 {width:128px; height:128px; background-position: -384px -2304px}
.G0G0E800 {width:128px; height:128px; background-position: -256px -2304px}
.G0G0E801 {width:128px; height:128px; background-position: -128px -2304px}
.G0G0I800 {width:128px; height:128px; background-position: -0px -2304px}
.G0G0I801 {width:128px; height:128px; background-position: -896px -2176px}
.G0S0A800 {width:128px; height:128px; background-position: -768px -2176px}
.G0S0B800 {width:128px; height:128px; background-position: -640px -2176px}
.G0S0B801 {width:128px; height:128px; background-position: -512px -2176px}
.G0S0E800 {width:128px; height:128px; background-position: -384px -2176px}
.G0S0I800 {width:128px; height:128px; background-position: -256px -2176px}
.G100M800 {width:128px; height:128px; background-position: -128px -2176px}
.G1G0A800 {width:128px; height:128px; background-position: -0px -2176px}
.G1G0B800 {width:128px; height:128px; background-position: -896px -2048px}
.G1G0E800 {width:128px; height:128px; background-position: -768px -2048px}
.G1G0I800 {width:128px; height:128px; background-position: -640px -2048px}
.G200M800 {width:128px; height:128px; background-position: -512px -2048px}
.G200M801 {width:128px; height:128px; background-position: -384px -2048px}
.G200M803 {width:128px; height:128px; background-position: -256px -2048px}
.G2G0A800 {width:128px; height:128px; background-position: -128px -2048px}
.G2G0B800 {width:128px; height:128px; background-position: -0px -2048px}
.G2G0E800 {width:128px; height:128px; background-position: -896px -1920px}
.G2G0I800 {width:128px; height:128px; background-position: -768px -1920px}
.G300M800 {width:128px; height:128px; background-position: -640px -1920px}
.G3G0A800 {width:128px; height:128px; background-position: -512px -1920px}
.G3G0B800 {width:128px; height:128px; background-position: -384px -1920px}
.G3G0E800 {width:128px; height:128px; background-position: -256px -1920px}
.G3G0I800 {width:128px; height:128px; background-position: -128px -1920px}
.P000M800 {width:128px; height:128px; background-position: -0px -1920px}
.P000M801 {width:128px; height:128px; background-position: -896px -1792px}
.P000M802 {width:128px; height:128px; background-position: -768px -1792px}
.P000M803 {width:128px; height:128px; background-position: -640px -1792px}
.P000M804 {width:128px; height:128px; background-position: -512px -1792px}
.P000M805 {width:128px; height:128px; background-position: -384px -1792px}
.P000M806 {width:128px; height:128px; background-position: -256px -1792px}
.P000M807 {width:128px; height:128px; background-position: -128px -1792px}
.P0G0A800 {width:128px; height:128px; background-position: -0px -1792px}
.P0G0B800 {width:128px; height:128px; background-position: -896px -1664px}
.P0G0E800 {width:128px; height:128px; background-position: -768px -1664px}
.P0G0I800 {width:128px; height:128px; background-position: -640px -1664px}
.P100M800 {width:128px; height:128px; background-position: -512px -1664px}
.P100M801 {width:128px; height:128px; background-position: -384px -1664px}
.P100M802 {width:128px; height:128px; background-position: -256px -1664px}
.P100M803 {width:128px; height:128px; background-position: -128px -1664px}
.P100M804 {width:128px; height:128px; background-position: -0px -1664px}
.P100M805 {width:128px; height:128px; background-position: -896px -1536px}
.P100M806 {width:128px; height:128px; background-position: -768px -1536px}
.P1G0A800 {width:128px; height:128px; background-position: -640px -1536px}
.P1G0A801 {width:128px; height:128px; background-position: -512px -1536px}
.P1G0B800 {width:128px; height:128px; background-position: -384px -1536px}
.P1G0B801 {width:128px; height:128px; background-position: -256px -1536px}
.P1G0E800 {width:128px; height:128px; background-position: -128px -1536px}
.P1G0E801 {width:128px; height:128px; background-position: -0px -1536px}
.P1G0I800 {width:128px; height:128px; background-position: -896px -1408px}
.P1G0I801 {width:128px; height:128px; background-position: -768px -1408px}
.R000M800 {width:128px; height:128px; background-position: -640px -1408px}
.R0D0A800 {width:128px; height:128px; background-position: -512px -1408px}
.R0D0A801 {width:128px; height:128px; background-position: -384px -1408px}
.R0D0B800 {width:128px; height:128px; background-position: -256px -1408px}
.R0D0B801 {width:128px; height:128px; background-position: -128px -1408px}
.R0D0C800 {width:128px; height:128px; background-position: -0px -1408px}
.R0D0C801 {width:128px; height:128px; background-position: -896px -1280px}
.R0D0E800 {width:128px; height:128px; background-position: -768px -1280px}
.R0D0E801 {width:128px; height:128px; background-position: -640px -1280px}
.R0D0F800 {width:128px; height:128px; background-position: -512px -1280px}
.R0D0F801 {width:128px; height:128px; background-position: -384px -1280px}
.R0D0I800 {width:128px; height:128px; background-position: -256px -1280px}
.R0D0I801 {width:128px; height:128px; background-position: -128px -1280px}
.R0D0J800 {width:128px; height:128px; background-position: -0px -1280px}
.R0D0J801 {width:128px; height:128px; background-position: -896px -1152px}
.S000M800 {width:128px; height:128px; background-position: -768px -1152px}
.S100M800 {width:128px; height:128px; background-position: -640px -1152px}
.S200M800 {width:128px; height:128px; background-position: -512px -1152px}
.S200M801 {width:128px; height:128px; background-position: -384px -1152px}
.S200M802 {width:128px; height:128px; background-position: -256px -1152px}
.S200N800 {width:128px; height:128px; background-position: -128px -1152px}
.S200N801 {width:128px; height:128px; background-position: -0px -1152px}
.S200N802 {width:128px; height:128px; background-position: -896px -1024px}
.S200N803 {width:128px; height:128px; background-position: -768px -1024px}
.S200N804 {width:128px; height:128px; background-position: -640px -1024px}
.S2D0A800 {width:128px; height:128px; background-position: -512px -1024px}
.S2D0A801 {width:128px; height:128px; background-position: -384px -1024px}
.S2D0B800 {width:128px; height:128px; background-position: -256px -1024px}
.S2D0B801 {width:128px; height:128px; background-position: -128px -1024px}
.S2D0E800 {width:128px; height:128px; background-position: -0px -1024px}
.S2D0E801 {width:128px; height:128px; background-position: -896px -896px}
.S2D0I800 {width:128px; height:128px; background-position: -768px -896px}
.S2D0I801 {width:128px; height:128px; background-position: -640px -896px}
.S2S2A800 {width:128px; height:128px; background-position: -512px -896px}
.S2S2A801 {width:128px; height:128px; background-position: -384px -896px}
.S2S2B800 {width:128px; height:128px; background-position: -256px -896px}
.S2S2B801 {width:128px; height:128px; background-position: -128px -896px}
.S2S2E800 {width:128px; height:128px; background-position: -0px -896px}
.S2S2E801 {width:128px; height:128px; background-position: -896px -768px}
.S2S2I800 {width:128px; height:128px; background-position: -768px -768px}
.S2S2I801 {width:128px; height:128px; background-position: -640px -768px}
.S300M800 {width:128px; height:128px; background-position: -512px -768px}
.S300M802 {width:128px; height:128px; background-position: -384px -768px}
.S3G0A800 {width:128px; height:128px; background-position: -256px -768px}
.S3G0B800 {width:128px; height:128px; background-position: -128px -768px}
.S3G0E800 {width:128px; height:128px; background-position: -0px -768px}
.S3G0I800 {width:128px; height:128px; background-position: -896px -640px}
.S400M800 {width:128px; height:128px; background-position: -768px -640px}
.S400M801 {width:128px; height:128px; background-position: -640px -640px}
.S4D0A800 {width:128px; height:128px; background-position: -512px -640px}
.S4D0A801 {width:128px; height:128px; background-position: -384px -640px}
.S4D0A802 {width:128px; height:128px; background-position: -384px -640px}
.S4D0B800 {width:128px; height:128px; background-position: -256px -640px}
.S4D0B801 {width:128px; height:128px; background-position: -128px -640px}
.S4D0B802 {width:128px; height:128px; background-position: -0px -640px}
.S4D0E800 {width:128px; height:128px; background-position: -896px -512px}
.S4D0I800 {width:128px; height:128px; background-position: -768px -512px}
.S4G0A800 {width:128px; height:128px; background-position: -640px -512px}
.S4G0A801 {width:128px; height:128px; background-position: -512px -512px}
.S4G0A802 {width:128px; height:128px; background-position: -384px -512px}
.S4G0B800 {width:128px; height:128px; background-position: -256px -512px}
.S4G0B801 {width:128px; height:128px; background-position: -128px -512px}
.S4G0B802 {width:128px; height:128px; background-position: -0px -512px}
.S4G0E800 {width:128px; height:128px; background-position: -896px -384px}
.S4G0E801 {width:128px; height:128px; background-position: -768px -384px}
.S4G0E802 {width:128px; height:128px; background-position: -640px -384px}
.S4G0I800 {width:128px; height:128px; background-position: -512px -384px}
.S4G0I801 {width:128px; height:128px; background-position: -384px -384px}
.S4G0I802 {width:128px; height:128px; background-position: -256px -384px}
.S4S0A800 {width:128px; height:128px; background-position: -128px -384px}
.S4S0A801 {width:128px; height:128px; background-position: -0px -384px}
.S4S0A810 {width:128px; height:128px; background-position: -896px -256px}
.S4S0A811 {width:128px; height:128px; background-position: -768px -256px}
.S4S0B800 {width:128px; height:128px; background-position: -640px -256px}
.S4S0B801 {width:128px; height:128px; background-position: -512px -256px}
.S4S0B810 {width:128px; height:128px; background-position: -384px -256px}
.S4S0B811 {width:128px; height:128px; background-position: -256px -256px}
.S4S0E800 {width:128px; height:128px; background-position: -128px -256px}
.S4S0E801 {width:128px; height:128px; background-position: -0px -256px}
.S4S0E810 {width:128px; height:128px; background-position: -896px -128px}
.S4S0E811 {width:128px; height:128px; background-position: -768px -128px}
.S4S0I800 {width:128px; height:128px; background-position: -640px -128px}
.S4S0I801 {width:128px; height:128px; background-position: -512px -128px}
.S4S0I810 {width:128px; height:128px; background-position: -384px -128px}
.S4S0I811 {width:128px; height:128px; background-position: -256px -128px}
.S500M800 {width:128px; height:128px; background-position: -128px -128px}
.S500M801 {width:128px; height:128px; background-position: -0px -128px}
.S5G0A800 {width:128px; height:128px; background-position: -896px -0px}
.S5G0A801 {width:128px; height:128px; background-position: -768px -0px}
.S5G0B800 {width:128px; height:128px; background-position: -640px -0px}
.S5G0B801 {width:128px; height:128px; background-position: -512px -0px}
.S5G0E800 {width:128px; height:128px; background-position: -384px -0px}
.S5G0E801 {width:128px; height:128px; background-position: -256px -0px}
.S5G0I800 {width:128px; height:128px; background-position: -128px -0px}
.S5G0I801 {width:128px; height:128px; background-position: -0px -0px}
