body {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #ccc), color-stop(1, #999)) no-repeat;
  background: -webkit-linear-gradient(top, #ccc 0%, #999 100%) no-repeat;
  background: -moz-linear-gradient(top, #ccc 0%, #999 100%) no-repeat;
  background: -o-linear-gradient(top, #ccc 0%, #999 100%) no-repeat;
  background: -ms-linear-gradient(top, #ccc 0%, #999 100%) no-repeat;
  background: linear-gradient(top, #ccc 0%, #999 100%) no-repeat;
  background-color: #999;
  margin: 0;
  padding: 0;
}

.button {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 80px;
  height: 80px;
  display: block;
  z-index: 1;
  background: gray;
}

canvas {
  position: absolute;
  z-index: 0;
}