body {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #ccc), color-stop(1, #999)) no-repeat;
  background: -webkit-linear-gradient(top, #ccc 0%, #999 100%) no-repeat;
  background: -moz-linear-gradient(top, #ccc 0%, #999 100%) no-repeat;
  background: -o-linear-gradient(top, #ccc 0%, #999 100%) no-repeat;
  background: -ms-linear-gradient(top, #ccc 0%, #999 100%) no-repeat;
  background: linear-gradient(top, #ccc 0%, #999 100%) no-repeat;
  background-color: #999;
  margin: 0;
  padding: 0;
}
