@import 'nib'

body
  background linear-gradient(top, #CCC, #999) no-repeat
  background-color #999

.button
  position absolute
  top 0px
  left 0px
  width 80px
  height 80px
  display block

canvas
  // border-radius(20px)
  // border 10px solid white

  // margin 0 auto 0 auto
  // display block

  // box-shadow(rgba(0, 0, 0, 0.3) 0px 5px 50px)